main {
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.44);
}

#file {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  gap: 10px;
  background-color: rgb(103, 103, 103);
  padding: 6px;
  border-radius: 7px;
}

#image-element {
  display: block;
  aspect-ratio: initial;
  width: 100%;
  border-radius: 5px;
}

#video-element {
  width: 100%;
  /*max-width: 400px;*/
  border-radius: 5px;
}
