<main>
  <mat-list role="list" id="list">
    <div class="single-request" *ngFor="let id of friendRequestUserIDs" role="listitem">
      <app-user [userID]=id></app-user>
      <div class="actions">
        <button mat-mini-fab color="warn" (click)="rejectFriendRequest(id)">
          <mat-icon>close</mat-icon>
        </button>
        <button mat-mini-fab color="primary" (click)="acceptFriendRequest(id)">
          <mat-icon>check</mat-icon>
        </button>
      </div>
    </div>
  </mat-list>
</main>
