<main>
  <div id="search-row">
    <mat-form-field>
      <mat-label>Search by name</mat-label>
      <input matInput type="text" placeholder="Ex. User1" (input)="changeContent($event)" [(ngModel)]="nameInput">
      <button *ngIf="nameInput" matSuffix mat-icon-button aria-label="Clear" (click)="nameInput=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div id="search-results">
    <div class="user-result-row" *ngFor="let userID of searchResults">
      <app-user [userID]="userID"></app-user>
      <button mat-mini-fab color="primary" (click)="sendFriendRequest(userID)"
              [disabled]="!shouldShowAddFriendButton(userID)">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <span *ngIf="searchResults.length == 0 && nameInput != ''" style="padding-bottom: 30px">No user was found with such name</span>
</main>
