<main>
  <div id="search-row">
    <mat-form-field>
      <mat-label>Search by name</mat-label>
      <input matInput type="text" placeholder="Ex. User1" (input)="changeContent($event)" [(ngModel)]="nameInput">
      @if (nameInput) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="nameInput=''">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>
  </div>

  @if (!loading) {
    <div id="search-results">
      @for (userID of searchResults; track userID) {
        <div class="user-result-row">
          <app-user [userID]="userID"></app-user>
          <button mat-mini-fab color="primary" (click)="sendFriendRequest(userID)"
            [disabled]="!shouldShowAddFriendButton(userID)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      }
    </div>
    @if (searchResults.length == 0 && nameInput != '') {
      <span style="padding-bottom: 30px">No user was found with such name</span>
    }
  } @else {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }

</main>

