/*#wrapper{*/
/*  max-height: calc(100dvh - 200px);*/
/*  !*height: calc(100dvh - 140px);*!*/
/*  cursor: auto;*/
/*  !*box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.44);*!*/
/*  !*margin: 10px;*!*/
/*  -webkit-overflow-scrolling: touch;*/
/*  */
/*}*/

main{
  overflow: hidden;
  margin: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 80px;
}

#contents {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}

#action-row{
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.text-content {
  color: antiquewhite;
}
