<main>
  <mat-stepper linear orientation="vertical" style="overflow: auto; max-height: 95vh">
    <mat-step> <!-- genre selection -->
      <form>
        <ng-template matStepLabel>Genre</ng-template>
        <mat-chip-listbox aria-label="Fish selection">
          <mat-chip-option *ngFor="let genre of genres" (click)="selectGenre(genre)" [selected]="genre == genreSelected"
                           color="warn">
            {{genre}}
          </mat-chip-option>
        </mat-chip-listbox>
        <div>
          <button mat-button matStepperNext (click)="updateGenre()">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step label="Title" [stepControl]="firstFormGroup"> <!-- Post name -->
      <form [formGroup]="firstFormGroup">
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput formControlName="firstCtrl" placeholder="DipShit 1" autocomplete="off" required
                 [value]="title" (input)="changeTitle($event)">
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext (click)="updateTitle()">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step> <!-- contents -->
      <ng-template matStepLabel>Content</ng-template>
      <div id="contents">
        <div class="content" *ngFor="let content of contents">
          <div>
            <ng-container *ngIf="content.file_share_id != 0; else textMsg">
              <app-file-share [fileShareID]=content.file_share_id class="file-content"></app-file-share>
            </ng-container>
            <ng-template #textMsg>
              <span class="text-content">{{content.content}}</span>
            </ng-template>
          </div>
          <div style="flex: 1"></div>
          <div>
            <button mat-mini-fab color="primary" (click)="deleteAttachment(content)">
              <mat-icon>remove</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <mat-divider style="margin: 20px 0" *ngIf="contents.length>0"></mat-divider>

      <div id="action-section" style="display: flex; gap: 10px">
        <div style="flex: 1"></div>
        <button id="upload-button" mat-mini-fab color="primary" (click)="fileInput.click()" style="margin-left: 20px;">
          <mat-icon>upload</mat-icon>
        </button>
        <input hidden type="file" #fileInput (change)="uploadFile($event)"/>

        <button mat-mini-fab (click)="openTextEditor()" color="warn" style="margin-right: 20px; margin-left: 5px">
          <mat-icon>edit_note</mat-icon>
        </button>
        <div style="flex: 1"></div>
      </div>
      <button mat-fab style="position: fixed; bottom: 20px; right: 20px;"
              (click)="publishPost()" color="primary">
        <mat-icon>check</mat-icon>
      </button>
    </mat-step>
  </mat-stepper>
</main>
