<main>
  <!--  <mat-icon [style.color]="ratingColor()" style="min-width: 1em">looks_{{ratingText()}}</mat-icon>-->
  <mat-progress-bar mode="determinate" [value]="popularity*10" color="warn" style="margin-top: 1px"></mat-progress-bar>
  <mat-icon [style.color]="ratingColor()" style="min-width: 1em;scale: 0.7">{{ ratingText() }}</mat-icon>
  <!--  <mat-progress-spinner-->
  <!--    class="example-margin"-->
  <!--    mode="determinate"-->
  <!--    [value]="popularity*10">-->
  <!--  </mat-progress-spinner>-->
</main>
