<main>
  <!--  <mat-icon [style.color]="ratingColor()" style="min-width: 1em">looks_{{ratingText()}}</mat-icon>-->
  <mat-progress-bar mode="determinate" [value]="popularity*10" color="warn"></mat-progress-bar>
  <mat-icon [style.color]="ratingColor()" style="min-width: 0.9em;scale: 0.8">{{ ratingText() }}</mat-icon>
  <!--  <mat-progress-spinner-->
  <!--    class="example-margin"-->
  <!--    mode="determinate"-->
  <!--    [value]="popularity*10">-->
  <!--  </mat-progress-spinner>-->
</main>
