<main *ngIf="loginView != null; else loadingBar">
  <div id="logo" cdkDrag>
    <div style="width: 40px;clip-path: circle(20px at center);" *ngIf="logoFigID != 0; else loadingFig">
      <app-simple-figure [figureID]="logoFigID"></app-simple-figure>
    </div>
    <ng-template #loadingFig>
      <div style="width: 40px; height: 40px; background-color: #c2175b; border-radius: 100%;"></div>
    </ng-template>

    <span style="margin-right: 2px">Tidder</span>
  </div>

  <ng-container *ngIf="loginView; else welcomeView">
    <form>
      <mat-chip style="margin-bottom: 20px;" *ngIf="wrongCredentials">Wrong password or username</mat-chip>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <button mat-raised-button (click)="login()" *ngIf="!loginLoading; else loadingWheel2">Log In
        <mat-icon>login</mat-icon>
      </button>
    </form>
    <button mat-raised-button (click)="continueAsVisitor()" *ngIf="!newUserLoading; else loadingWheel2">Continue as a
      Guest
    </button>
    <ng-template #loadingWheel2>
      <div style="display: flex; justify-content: center;">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </ng-template>
  </ng-container>

  <ng-template #welcomeView>
    <div id="welcome">
      <div class="text-wrapper">
        <span class="text-content" style="font-size: x-large">Welcome to Tidder!</span>
      </div>
      <p>Here you can share your thoughts with the world, and see what others are thinking about.</p>
      <p>Click the button below to get started!</p>
      <div style="display: flex; justify-content: center; margin-top: 40px" *ngIf="!newUserLoading; else loadingWheel">
        <button mat-fab color="primary" (click)="continueAsVisitor()">
          <mat-icon>start</mat-icon>
        </button>
      </div>
      <ng-template #loadingWheel>
        <div style="display: flex; justify-content: center; margin-top: 40px">
          <mat-spinner [diameter]="56"></mat-spinner>
        </div>
      </ng-template>

    </div>
    <div></div>
    <button mat-raised-button (click)="loginView = true">Have an account?</button>
  </ng-template>
</main>

<ng-template #loadingBar>
  <div id="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</ng-template>
