main {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.text-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 15px;
}

.text-content {
  border-radius: 10px;
  padding: 10px;
  background-color: #303030;
  max-width: 250px;
  text-align: justify-all;
  color: antiquewhite;
}

#welcome{
  color: antiquewhite;
  padding: 20px;
  margin: 20px;
  border-radius: 25px;
  background-color: #4f4f4f;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.44);
  max-width: 480px;
}

.startUpSlideIn {
  animation: slideIn 1s ease forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(100%); /* Start position */
    scale: 2;
  }
  100% {
    transform: translateY(0); /* End position */
  }
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: antiquewhite;
  font-size: x-large;
  font-weight: lighter;
  background-color: #4f4f4f;
  border-radius: 500px;
  padding: 7px;
  min-height: 40px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.44);
}

.lightUp {
  animation: lightsOn 2.5s ease infinite alternate forwards;
}

@keyframes lightsOn {
  0% {
  }
  100% {
    box-shadow: 0 0 10px 0 rgba(248, 248, 248, 0.44);
  }
}


form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
