<main *ngIf="loginView != null; else loadingBar" class="startUpSlideIn" [ngClass]="{'signUpSlideOut':newUserLoading}">
  <app-logo></app-logo>

  <ng-container *ngIf="loginView; else welcomeView">
    <form>
      <mat-chip style="margin-bottom: 20px;" *ngIf="wrongCredentials">Wrong password or username</mat-chip>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <button mat-flat-button (click)="login()" *ngIf="!loginLoading; else loadingWheel2" class="round-btn"
              color="warn">Log In
        <mat-icon>login</mat-icon>
      </button>
    </form>

    <button mat-stroked-button (click)="loginView = false" class="round-btn" color="primary">New user?</button>
    <!--    <button mat-flat-button (click)="continueAsVisitor()" *ngIf="!newUserLoading; else loadingWheel2" class="round-btn"-->
    <!--            color="primary">Continue as a-->
    <!--      Guest-->
    <!--    </button>-->
    <ng-template #loadingWheel2>
      <div style="display: flex; justify-content: center;">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </ng-template>
  </ng-container>

  <ng-template #welcomeView>
    <div id="welcome" [ngClass]="{'startUpSlideIn':!newUserLoading}" class="classicTextBox">
      <div class="classicTitle" style="font-size: xx-large">
        Tidder
      </div>
      <p>Finally, a <b style="text-decoration: underline">sensible</b> platform for the rest of us</p>
      <p>Click the button to get started!</p>
      <div style="display: flex; justify-content: center; margin-top: 20px" *ngIf="!newUserLoading; else loadingWheel">
        <div style="flex: 1"></div>
        <button mat-fab (click)="continueAsVisitor()" color="primary" style="border-radius: 100px" id="start-btn">
          <mat-icon>start</mat-icon>
        </button>
      </div>
      <ng-template #loadingWheel>
        <div style="display: flex; justify-content: center; margin-top: 72px">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
      </ng-template>
    </div>
    <button mat-stroked-button (click)="loginView = true" class="round-btn" color="warn">Have an account?</button>
  </ng-template>
</main>

<ng-template #loadingBar>
  <div id="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</ng-template>
