main {
  height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.text-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 15px;
}

.text-content {
  border-radius: 100px;
  padding: 10px 13px;
  background-color: rgba(48, 48, 48, 0.07);
  max-width: 250px;
  text-align: justify-all;
  color: antiquewhite;
  font-weight: 570;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4) inset,
  -1.5px -1.5px 4px rgba(255, 255, 255, 0.14) inset;
}

#welcome {
  color: white;
  padding: 20px;
  /*margin-top: 0px;*/
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 35px;
  /*background-color: #4f4f4f;*/
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.44);
  max-width: 420px;
  /*border: 2px grey solid;*/
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.startUpSlideIn {
  /*animation: slideIn 0.6s ease forwards;*/
}

@keyframes slideIn {
  0% {
    transform: translateY(100%); /* Start position */
    /*scale: 2;*/
  }
  100% {
    transform: translateY(0); /* End position */
  }
}

.signUpSlideOut {
  animation: slideOut 1s ease forwards;
}

@keyframes slideOut {
  0% {
  }
  100% {
    transform: translateY(-100%); /* End position */
    /*scale: 2;*/
  }
}


#logo {
  background-color: rgba(79, 79, 79, 0.15);
  border-radius: 100px;
  width: 150px;
  height: 150px;
  margin-top: 20px;
  border: 3px #e15241 solid;
  /*animation: logoAppear 1.3s ease forwards;*/
}

@keyframes logoAppear {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}


form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.round-btn {
  border-radius: 100px;
}
