<main>
<!--  <div id="welcomeRow">-->
<!--    &lt;!&ndash;    <mat-card-title style="font-size: xx-large">Hey</mat-card-title>&ndash;&gt;-->
<!--    -->
<!--&lt;!&ndash;    <mat-card-subtitle>Hi there</mat-card-subtitle>&ndash;&gt;-->
<!--  </div>-->

  <div id="links">
    <app-user-mini [userID]="selfUserID"></app-user-mini>
    <button mat-flat-button routerLink="/friends" color="warn" mat-dialog-close><mat-icon>people</mat-icon>Friends</button>
    <button mat-flat-button (click)="logout()" color="primary" mat-dialog-close><mat-icon>logout</mat-icon>Logout</button>
  </div>

  <ng-container *ngIf="this.main.getTotalMessageCount()>0">
    <mat-divider></mat-divider>
    <app-notification-view></app-notification-view>
  </ng-container>

  <mat-divider></mat-divider>
  <app-ask-tidder></app-ask-tidder>

</main>
