<mat-dialog-content id="wrapper">
  <main>
    <!--  <div id="welcomeRow">-->
    <!--    &lt;!&ndash;    <mat-card-title style="font-size: xx-large">Hey</mat-card-title>&ndash;&gt;-->
    <!--    -->
    <!--&lt;!&ndash;    <mat-card-subtitle>Hi there</mat-card-subtitle>&ndash;&gt;-->
    <!--  </div>-->
    <!--    <mat-card-subtitle>Hi there</mat-card-subtitle>-->
    <div style="display: flex; justify-content: space-around">
      <button mat-stroked-button [routerLink]="['/user/' + this.auth.selfUserID]" color="primary" mat-dialog-close
              style="border-radius: 100px"
              *ngIf="!auth.isVisitor; else signUpBtn">
        <mat-icon>account_circle</mat-icon>
        My Profile
      </button>

      <ng-template #signUpBtn>
        <button mat-stroked-button color="primary" mat-dialog-close (click)="userSetUp()"
                style="border-radius: 100px">
          <mat-icon>account_circle</mat-icon>
          Sign Up
        </button>
      </ng-template>

      <button mat-stroked-button routerLink="/friends" color="warn" mat-dialog-close
              style="margin-left: 10px; border-radius: 100px">
        <mat-icon>people</mat-icon>
        Friends
      </button>
    </div>

    <ng-container *ngIf="this.main.getTotalMessageCount()>0">
      <app-notification-view></app-notification-view>
      <mat-divider></mat-divider>
    </ng-container>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Need Help?
        </mat-panel-title>
        <!--        <mat-panel-description>-->
        <!--          Ask Tidder-->
        <!--        </mat-panel-description>-->
      </mat-expansion-panel-header>
      <app-ask-tidder></app-ask-tidder>
    </mat-expansion-panel>
  </main>
</mat-dialog-content>

<mat-dialog-actions>
  <div id="links">
    <app-user-mini [userID]="selfUserID"></app-user-mini>

    <div style="flex: 1"></div>
    <button mat-flat-button (click)="logout()" color="primary" mat-dialog-close style="margin-left: 10px">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </div>
</mat-dialog-actions>
