<mat-dialog-content id="wrapper">
  <main>
    <!--  <div id="welcomeRow">-->
    <!--    &lt;!&ndash;    <mat-card-title style="font-size: xx-large">Hey</mat-card-title>&ndash;&gt;-->
    <!--    -->
    <!--&lt;!&ndash;    <mat-card-subtitle>Hi there</mat-card-subtitle>&ndash;&gt;-->
    <!--  </div>-->
    <ng-container *ngIf="this.main.getTotalMessageCount()>0">
      <app-notification-view></app-notification-view>
      <mat-divider></mat-divider>
    </ng-container>

    <app-ask-tidder></app-ask-tidder>
  </main>
</mat-dialog-content>

<mat-dialog-actions>
  <div id="links">
    <app-user-mini [userID]="selfUserID"></app-user-mini>

    <button mat-stroked-button routerLink="/friends" color="warn" mat-dialog-close style="margin-left: 10px; border-radius: 100px">
      <mat-icon>people</mat-icon>
      Friends
    </button>
    <div style="flex: 1"></div>
    <button mat-flat-button (click)="logout()" color="primary" mat-dialog-close style="margin-left: 10px">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </div>
</mat-dialog-actions>
