#refresh-btn {
  position: fixed;
  z-index: 3;
  bottom: 22px;
  /*left: 20px;*/
  right: 50%;
  transform: translateX(50%);
}

#posts-modes-bar {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  padding-left: 13px;
  padding-right: 13px;
  gap: 6px;
}

#load-more {
  background-color: white;
}
