main {
  width: 100vw;
  height: 100dvh;
  overflow: auto;
}

#top-option-bar {
  font-weight: lighter;
  border-radius: 100px;
  justify-self: center;
  margin-top: 15px;
  margin-bottom: 7px;
  border: 2px #e15241 solid;
  background-color: rgba(93, 93, 93, 0.36);
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

#posts-section-wrapper {
  height: 100%;
  overflow: auto;
  margin: 0 5px;
}

.posts-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 20px;
}

.post {
  width: 100%;
  overflow: hidden;
  max-width: 550px;
}

#refresh-btn {
  position: fixed;
  z-index: 3;
  top: 68px;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (min-width: 850px) {
  .post {
    width: 100%;
    overflow: hidden;
    max-width: 400px;
    min-width: 280px;
  }
}
