<!--<p style="width: 100vw;" *ngIf="loading">-->
<!--  <mat-progress-bar mode="indeterminate"></mat-progress-bar>-->
<!--</p>-->
<div
  style="position: fixed; top: 0;z-index: 9; left: 50vw; transform: translateX(-50%);display: flex; justify-content: center; ">

  <button mat-stroked-button id="top-option-bar" (click)="openBottomSheet()" class="trans-btn-bright">
    {{ selectedRankingMode }} | {{ genreSelected }}
  </button>

  <!--  <div id="top-logo-option-bar" (click)="openBottomSheet()">-->
  <!--    <img src="assets/logo.png" style="height: 60px" alt="logo">-->
  <!--&lt;!&ndash;    <button mat-button>Posts Filter</button>&ndash;&gt;-->
  <!--    <mat-card-title>Tidder</mat-card-title>-->
  <!--  </div>-->
</div>


<ng-container *ngIf="showPostSection">
  <ng-container *ngIf="!loading; else loadingPlaceHolder">
    <app-post-section-view-base [postIDs]="postIDs"></app-post-section-view-base>
  </ng-container>
  <ng-template #loadingPlaceHolder>
    <app-loading-placeholder></app-loading-placeholder>
  </ng-template>
</ng-container>

<div *ngIf="empty">
  <p style="text-align: center; margin-top: 20px; color: antiquewhite">Sorry no post found, please try other
    genres</p>
</div>
<div id="refresh-btn">
  <button mat-stroked-button color="warn" (click)="refresh()" *ngIf="showReloadButton" class="trans-btn-bright"
          style="border-radius: 100px;">
    <mat-icon>refresh</mat-icon>
    Refresh
  </button>
</div>
