@import "src/variables";


#price-cap {
  font-family: $font-bold;
  display: flex;
  //flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#refresh-btn {
  position: fixed;
  z-index: 3;
  bottom: 20px;
  /*left: 20px;*/
  right: 20px;
  /*transform: translateX(50%);*/
}

#new-post-btn {
  position: fixed;
  z-index: 3;
  bottom: 20px;
  left: 20px;
  /*right: 20px;*/
  /*transform: translateX(50%);*/
}

#posts-modes-bar {
  display: flex;
  /*justify-content: center;*/
  align-items: flex-end;
  padding-left: 22px;
  padding-right: 13px;
  margin-top: 7px;
  flex-wrap: wrap;
  gap: 6px;
}

#load-more {
  background-color: white;
}
