<!--<p style="width: 100vw;" *ngIf="loading">-->
<!--  <mat-progress-bar mode="indeterminate"></mat-progress-bar>-->
<!--</p>-->
<div style="position: fixed; top: 0;z-index: 9; left: 50vw; transform: translateX(-50%);display: flex; justify-content: center; ">

  <button mat-stroked-button id="top-option-bar" (click)="openBottomSheet()" class="trans-btn-dark">
    {{ selectedRankingMode }} | {{ genreSelected }}
  </button>

<!--  <div id="top-logo-option-bar" (click)="openBottomSheet()">-->
<!--    <img src="assets/logo.png" style="height: 60px" alt="logo">-->
<!--&lt;!&ndash;    <button mat-button>Posts Filter</button>&ndash;&gt;-->
<!--    <mat-card-title>Tidder</mat-card-title>-->
<!--  </div>-->
</div>

<div style="height: 58px"></div>
<ng-container *ngIf="showPostSection">
  <ng-container *ngIf="!loading; else loadingPlaceHolder">
    <ng-container *ngIf="!wideMode; else wide">
      <div id="single-row-posts-container" class="posts-container">
        <ng-container *ngFor="let postID of postIDs">
          <app-post class="post" [postID]=postID [touchMode]=touchDevice></app-post>
                    <mat-divider class="divider"></mat-divider>
        </ng-container>
      </div>
    </ng-container>
    <ng-template #wide>
      <div id="wide-mode-posts-container" class="posts-container">
        <div class="wide-mode-posts-row" *ngFor="let postRow of postIDsWide">
          <ng-container *ngFor="let postID of postRow">
            <app-post class="post-wide-mode" [postID]=postID [touchMode]=touchDevice></app-post>
            <mat-divider class="divider"></mat-divider>
          </ng-container>
        </div>
      </div>
    </ng-template>
  </ng-container>
  <ng-template #loadingPlaceHolder>
    <app-loading-placeholder></app-loading-placeholder>
  </ng-template>
</ng-container>

<div *ngIf="empty">
  <p style="text-align: center; margin-top: 20px; color: antiquewhite">Sorry no post found, please try other
    genres</p>
</div>
<div id="refresh-btn">
  <button mat-flat-button color="warn" (click)="refresh()" *ngIf="showReloadButton"
          style="border-radius: 100px">
    <mat-icon>refresh</mat-icon>Refresh
  </button>
</div>
