main {
  width: 100vw;
  height: 100dvh;
  overflow: auto;
}

#posts-section-top-bar {
  display: flex;
  justify-content: center;
  padding-top: 22px;
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  /*backdrop-filter: blur(2px);*/
}

#posts-section-wrapper {
  height: 100%;
  overflow: auto;
}

#posts-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 20px;
}

.post {
  width: 100%;
  overflow: hidden;
  max-width: 550px;
}

@media only screen and (min-width: 850px) {
  .post {
    width: 100%;
    overflow: hidden;
    max-width: 400px;
    min-width: 280px;
  }
}
