<main>
  <div class="classicTextBox" style="margin: 15px">
    <span class="classicTitle">Friends list</span>
    <div style="display: flex; justify-content: space-between">
      <span>Here are all of your friends and click the button to find new ones</span>
      <button mat-fab color="primary" (click)="searchUser()">
        <mat-icon>person_add</mat-icon>
      </button>
    </div>
  </div>

  <div id="friends-list" *ngIf="loaded; else loadingBar">
    <app-user [userID]="friendID" *ngFor="let friendID of friendIDs"></app-user>
  </div>

  <div style="display: flex;justify-content: center;margin-top: 20px" *ngIf="showLoadMore">
    <button mat-flat-button style="border-radius: 100px" color="primary"
            (click)="loadMore();">
      Load more
    </button>
  </div>

  <div style="height: 65px"></div>
  <app-background></app-background>
</main>
<ng-template #loadingBar>
  <app-loading-placeholder></app-loading-placeholder>
</ng-template>

<app-home-button></app-home-button>
