<main *ngIf="loaded; else loadingBar">
  <app-back-btn></app-back-btn>
  <div id="top-bar">
    <button mat-fab color="primary" (click)="searchUser()" style="margin: 20px 0;">
      <mat-icon>person_add</mat-icon>
    </button>

    <div>
      <span style="color: wheat; font-size: x-large"><mat-icon style="transform: scale(1.3);">group</mat-icon>
        {{friendIDs.length}}</span>
    </div>

  </div>
  <div id="friends-list">
    <app-user [userID]="friendID" *ngFor="let friendID of friendIDs"></app-user>
  </div>

  <div style="height: 65px"></div>
  <app-background></app-background>
</main>
<ng-template #loadingBar>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
