main{
  max-height: 75dvh;

  width: 100%; /* Set the parent's width as needed */
  overflow: hidden; /* Hide any overflowing child content */
  position: relative;
}

.control-btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.64);
  backdrop-filter: blur(3px);
}
