<main>
<!--  <app-logo style="align-self: center"></app-logo>-->
  <div class="classicTextBox">
    <div class="classicTitle">
      Lead Developer
    </div>
    <app-user [userID]="4"></app-user>
  </div>

  <div class="classicTextBox">
    <div class="classicTitle">
      Graphic Designer
    </div>
    <app-user [userID]="4"></app-user>
  </div>

  <div class="classicTextBox">
    <div class="classicTitle">
      Tech Lead
    </div>
    <app-user [userID]="4"></app-user>
  </div>

  <div class="classicTextBox">
    <div class="classicTitle">
      System Engineer
    </div>
    <app-user [userID]="4"></app-user>
  </div>

  <div class="classicTextBox">
    <div class="classicTitle">
      Lead Moderator
    </div>
    <app-user [userID]="4"></app-user>
  </div>
</main>
