main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  /*animation: slideIn 0.6s ease forwards;*/
}

#group-list-wrapper {
  height: 100%;
  overflow-y: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

#group-list {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: flex-start;*/
  margin: 75px 20px 90px;
  gap: 20px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.group-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

@keyframes slideIn {
  0% {
    transform: translateY(100dvh);
  }
  100% {
    transform: translateY(0)
  }
}
