<main>
  <app-home-button (click)="this.main.fetchNotifications().subscribe()"></app-home-button>
  <div class="classicTextBox" style="margin: 5px 10px 15px; animation: appear 1s forwards">
    <span class="classicTitle">Group Chat</span>
    <div style="display: flex; justify-content: space-between; gap: 10px">
      <span>Join or create chat groups to talk with others</span>
      <div id="top-bar" style="flex-shrink: 0">
        <button mat-stroked-button (click)="createGroup()" color="primary" style="border-radius: 200px">
          <mat-icon>add_circle</mat-icon>
          Create New
        </button>

        <ng-container *ngIf="!editMode; else checkBtn">
          <button mat-stroked-button (click)="editMode = !editMode" color="warn"
                  style="border-radius: 200px;">
            <mat-icon>delete</mat-icon>
            Quit Group
          </button>
        </ng-container>
      </div>
    </div>
  </div>

  <ng-template #checkBtn>
    <button mat-stroked-button (click)="editMode = !editMode" color="warn"
            style="border-radius: 200px;">
      <mat-icon>check</mat-icon>
      Done
    </button>
  </ng-template>

  <div id="group-list" *ngIf="loadingComplete; else loadingBar">
    <div class="group-row" *ngFor="let groupID of groupIDs">
      <button mat-mini-fab *ngIf="editMode" (click)="leaveGroup(groupID)" color="primary">
        <mat-icon>delete</mat-icon>
      </button>
      <app-group [groupID]="groupID" [selfID]="auth.selfUserID" [unread]=isGroupUnread(groupID)
                 style="flex: 1;max-width: 310px;"></app-group>
    </div>
  </div>

  <div style="display: flex;justify-content: center;margin-top: 20px" *ngIf="showLoadMore">
    <button mat-flat-button style="border-radius: 100px" color="primary"
            (click)="loadMore();">
      Load more
    </button>
  </div>

  <div style="height: 80px"></div>

  <app-background></app-background>

  <ng-template #loadingBar>
    <!--    <mat-progress-bar mode="indeterminate" style="position: fixed; top: 0; left: 0"></mat-progress-bar>-->
    <app-loading-placeholder></app-loading-placeholder>
  </ng-template>
</main>
