main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

#group-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.group-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
