main {
  width: 100dvw;
  /*animation: slideIn 0.6s ease forwards;*/
  overflow: auto;
  height: 100dvh;
}


#group-list {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: flex-start;*/;
  width: 100%;
  margin: 75px 0 90px;
  gap: 20px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.group-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

@keyframes slideIn {
  0% {
    transform: translateY(100dvh);
  }
  100% {
    transform: translateY(0)
  }
}
