<mat-card *ngIf="post?.popularity != null; else loadingBar">
  <mat-card-header (click)="openPostFullView()" style="cursor: pointer;">
    <app-user-mini mat-card-avatar [userID]="post?.author_id!"></app-user-mini>
    <mat-card-title style="color: white;overflow-wrap: break-word;">{{post?.title}}</mat-card-title>
  </mat-card-header>


  <mat-card-content (click)="openPostFullView()">
<!--    <mat-card-subtitle id="post-details-row">-->
<!--      <span>{{post!.genre}}</span>-->
<!--      <span>{{post!.time_since_posted}}</span>-->
<!--    </mat-card-subtitle>-->
<!--    <span><mat-divider></mat-divider></span>-->
<!--    <div style="height: 2px"></div>-->

    <p *ngFor="let content of textAttachments">
      <span class="text-content">{{content.content}}</span>
    </p>

    <app-post-files-viewer [files]="fileAttachments" *ngIf="fileAttachments.length > 0"></app-post-files-viewer>
  </mat-card-content>


  <mat-card-actions>
    <app-post-perception-bar [popularity]="post?.popularity!" [rating]="post?.rating!" (click)="openPostFullView()"
                             style="flex: 1"></app-post-perception-bar>
    <div id="comment-section" (click)="openCommentSection()">
      <span style="margin-right: 3px">{{post?.number_of_comments}}</span>
      <mat-icon style="vertical-align: middle;">comment</mat-icon>
    </div>
  </mat-card-actions>
</mat-card>

<ng-template #loadingBar>
  <app-post-loading-placeholder></app-post-loading-placeholder>
</ng-template>
