.text-content {
  color: antiquewhite;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

#comment-section {
  color: antiquewhite;
  cursor: pointer;
}

mat-card-content {
  cursor: pointer;
}

@media only screen and (min-width: 800px) {
  mat-card-content {
    height: 300px;
    overflow: auto;
  }
}

mat-card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  overflow: hidden;
  line-height: 1.2; /* Adjust this value for spacing between lines */
  max-height: 2.4em; /* Adjust this value for maximum height of two lines */
}
