@if (post?.popularity != null) {
  <mat-card [ngClass]="touchMode ? '' : 'desktopStyleClass'"
            (click)="openPostFullView()">
    <mat-card-header>
      <app-user-mini mat-card-avatar [userID]="post?.author_id!" (click)="$event.stopPropagation()"
                     style="margin-right: -6px"></app-user-mini>
      <mat-card-title style="color: white;overflow-wrap: break-word;font-size: large;">{{ post?.title }}
      </mat-card-title>
      <mat-card-subtitle>
        <span id="price" style="margin-bottom: -5px; margin-right: 5px">{{ post?.price! }}$</span>
        <!--        <span style="font-weight: lighter; margin-right: 10px">{{ post!.time_since_posted }}</span>-->
        <app-post-perception-bar [popularity]="post?.popularity!" [rating]="post?.rating!"
                                 style="width: 90px; margin-bottom: -2px"></app-post-perception-bar>
        @if (post?.number_of_comments! > 0) {
          <div (click)="openCommentSection($event)"
               style="border-radius: 11px; scale: 0.8; vertical-align: middle; display: flex; align-items: center; margin-top: 2px; margin-bottom: -2px">
            <span style="margin-right: 6px">{{ post?.number_of_comments }}</span>
            <mat-icon color="warn">comment</mat-icon>
          </div>
        }
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      @if (textAttachments.length > 0) {
        <div style="height: 5px"></div>
      }
      @for (content of textAttachments; track content) {
        <p>
          <span class="text-content">{{ content.content }}</span>
        </p>
      }
      <div style="border-radius: 5px; overflow: hidden">
        @if (fileAttachments.length > 0) {
          <app-post-files-viewer [files]="fileAttachments"></app-post-files-viewer>
        }
      </div>
    </mat-card-content>

    @if (!auth.isLandlord) {
      <mat-card-actions style="padding: 14px 18px">
        <app-option-btn [isApplication]=true (click)="applyListing($event)"></app-option-btn>
        <div style="flex: 1"></div>
        <app-option-btn (click)="hidePost($event)"></app-option-btn>C
      </mat-card-actions>
    }
  </mat-card>
}

<!--<div id="wrapper"-->
<!--     *ngIf="post?.popularity != null; else loadingBar"-->
<!--     [ngClass]="touchMode ? '' : 'desktopStyleClass'" (click)="openPostFullView()">-->

<!--  <span class="classicTitle" style="font-size: large;">{{ post?.title }}</span>-->

<!--  <mat-card-content>-->
<!--    <p *ngFor="let content of textAttachments">-->
<!--      <span class="text-content">{{ content.content }}</span>-->
<!--    </p>-->

<!--    <div style="border-radius: 5px; overflow: hidden">-->
<!--      <app-post-files-viewer [files]="fileAttachments" *ngIf="fileAttachments.length > 0"></app-post-files-viewer>-->
<!--    </div>-->
<!--  </mat-card-content>-->

<!--  <div-->
<!--    style="display: flex; justify-content: space-between; align-items: flex-end; color: white; gap: 10px;margin-top: 20px">-->
<!--      <app-user-mini mat-card-avatar [userID]="post?.author_id!" (click)="$event.stopPropagation()"></app-user-mini>-->
<!--    &lt;!&ndash;    <span style="font-weight: lighter">{{ post!.time_since_posted }}</span>&ndash;&gt;-->
<!--    <app-post-perception-bar [popularity]="post?.popularity!" [rating]="post?.rating!"-->
<!--                             style="flex: 1"></app-post-perception-bar>-->

<!--    <div id="commentBtn" (click)="openCommentSection($event)">-->
<!--      <span>{{ post?.number_of_comments }}</span>-->
<!--      <mat-icon>comment</mat-icon>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
