.text-content {
  color: antiquewhite;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

#comment-section {
  color: antiquewhite;
  cursor: pointer;
}

#post-details-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 5px 0;
  white-space: nowrap;
  translate: 0 -2px;
}

mat-card-content {
  cursor: pointer;
}

@media only screen and (min-width: 850px) {
  mat-card-content {
    height: 300px;
    overflow: hidden;
  }
}

mat-card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  overflow: hidden;
  /*line-height: 1.2; !* Adjust this value for spacing between lines *!*/
}

mat-card {
  /*background-color: #1e1e1e;*/
  border-radius: 25px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.35);
  margin: 10px;
}

mat-card-actions {
  justify-content: flex-end;
  gap: 10px;
  padding: 0 13px
}
