<main>
  <div id="listings">
    <span class="classicTitle" style="margin-left: 15px">My Listings</span>
    @if (showButton) {
      <button mat-flat-button style="margin-left: 15px" (click)="mostApplicationsFirst()">Rearrange Listings</button>
    }
    @for (postIdNApplicationIDs of mainData; track postIdNApplicationIDs) {
      <app-post [postID]="postIdNApplicationIDs.postID"></app-post>
      @if (postIdNApplicationIDs.applicationIDs.length > 0) {
        <div id="applications" class="classicTextBox">
          <span class="classicTitle" style="margin-bottom: -10px">Application</span>
          @for (applicationID of postIdNApplicationIDs.applicationIDs; track applicationID) {
            <app-application [applicationID]="applicationID"></app-application>
          }
        </div>
      }
    }
  </div>
</main>
