<main>
  <mat-stepper linear orientation="vertical" (selectionChange)="selectionChange($event)"
               style="overflow: auto; max-height: 95vh">
    <mat-step label="Username" [stepControl]="firstFormGroup"> <!-- Post name -->
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Setup username</ng-template>
        <mat-form-field>
          <input matInput formControlName="nameCtrl" placeholder="DipShit"
                 autocomplete="off" required
                 [value]="inputName" (input)="changeName($event)">
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext (click)="updateName()">Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step label="Setup password" [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput formControlName="passwordCtrl" placeholder="DipShit"
                 autocomplete="off" required
                 [value]="inputPassword" (input)="changePassword($event)">
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext (click)="updatePassword()">Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step label="Email (Optional)">
      <div>
        <span style="color: antiquewhite">Email will be used solely for account recovery</span><br>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="DipShit.com"
                 autocomplete="off"
                 [value]="inputEmail" (input)="changeEmail($event)">
        </mat-form-field>
        <div>
          <button mat-button matStepperNext (click)="updateEmail()">Update Email</button>
          <button mat-button matStepperNext>Skip</button>
        </div>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Finishing up</ng-template>
      <div>
        <div class="acc-info-row">
          <mat-chip>Username</mat-chip>
          <span class="acc-info">{{inputName}}</span>
        </div>

        <div class="acc-info-row">
          <mat-chip>Password</mat-chip>
          <span class="acc-info">{{inputPassword}}</span>
        </div>

        <div class="acc-info-row">
          <mat-chip>Email</mat-chip>
          <span class="acc-info">{{inputEmail}}</span>
        </div>

        <div>
          <button mat-fab (click)="confirmSetup()" color="primary">
            <mat-icon>check</mat-icon>
          </button>
        </div>
      </div>
    </mat-step>
  </mat-stepper>
</main>
