#contents {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #363636;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}

.text-content {
  color: antiquewhite;
}


.acc-info {
  color: antiquewhite;
  font-weight: bold;
}

.acc-info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 7px 0;
}
