<main style="overflow: auto; max-height: 90dvh">
  <button mat-flat-button color="accent" style="border-radius: 100px; margin: 20px 20px 0" mat-dialog-close>
    <mat-icon>close_fullscreen</mat-icon>
    close
  </button>
  <mat-stepper linear="" orientation="vertical" (selectionChange)="selectionChange($event)">
    <mat-step label="Username" [stepControl]="firstFormGroup"> <!-- Post name -->
      <form [formGroup]="firstFormGroup">
        <mat-slide-toggle style="margin-bottom: 15px" (change)="updateIsLandlord()"><b>I'm a Landlord</b>
        </mat-slide-toggle>
        <br>
        <ng-template matStepLabel>Username</ng-template>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="nameCtrl"
                 autocomplete="off" required
                 [value]="inputName" (input)="changeName($event)">
        </mat-form-field>
        <div>
          <button mat-flat-button color="primary" matStepperNext (click)="updateName()">Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step label="Password" [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="passwordCtrl"
                 autocomplete="off" required
                 [value]="inputPassword" (input)="changePassword($event)">
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-flat-button color="primary" matStepperNext (click)="updatePassword()">Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step label="Neighbourhood">
      <div class="classicTextBox">
        <span>
          @if (isLandlord) {
            Select your neighbourhood
          } @else {
            Select your favourite neighbourhood
          }
        </span>
        <form style="margin-top: 15px">
          <mat-chip-listbox aria-label="Fish selection">
            @for (neighbourhood of neighbourhoods; track neighbourhood) {
              <mat-chip-option (click)="selectNeighbourhood(neighbourhood)"
                               [selected]="neighbourhood == neighbourhoodSelected"
                               color="warn">
                {{ neighbourhood }}
              </mat-chip-option>
            }
          </mat-chip-listbox>
          <div style="margin-top: 15px">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-flat-button color="primary" matStepperNext>Next</button>
          </div>
        </form>
      </div>
    </mat-step>

    <mat-step label="Credit Score (Optional)">
      <form style="max-width: 200px">
        <b style="color: white">Credit Score: {{ creditScore }}</b>
        <mat-slider
          [max]=900
          [min]=0
          [step]=10>
          <input matSliderThumb [(ngModel)]="creditScore" name="p">
        </mat-slider>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-flat-button color="primary" matStepperNext (click)="setCreditScore()">Next</button>
        </div>
      </form>
    </mat-step>

<!--    <mat-step label="Annual Income (Optional)">-->
<!--      <form style="max-width: 200px">-->
<!--        <b style="color: white">Income: {{ creditScore }}K</b>-->
<!--        <mat-slider-->
<!--          [max]=900-->
<!--          [min]=0-->
<!--          [step]=10>-->
<!--          <input matSliderThumb [(ngModel)]="creditScore" name="p">-->
<!--        </mat-slider>-->
<!--        <div>-->
<!--          <button mat-button matStepperPrevious>Back</button>-->
<!--          <button mat-flat-button color="primary" matStepperNext (click)="setCreditScore()">Next</button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </mat-step>-->

    <mat-step label="About (Optional)">
      <form>
        <mat-form-field appearance="outline">
          <mat-label>About me</mat-label>
          <textarea matInput [cdkTextareaAutosize]=true
                    [(ngModel)]="inputDescription" name="desc"></textarea>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-flat-button color="primary" matStepperNext (click)="updateDescription()">Finish</button>
        </div>
      </form>
    </mat-step>

<!--    <mat-step>-->
<!--      <ng-template matStepLabel>Done</ng-template>-->
<!--      <div class="classicTextBox" style="margin: 5px 0 10px">-->
<!--        <span class="classicTitle">Well done!</span>-->
<!--        <span>Take a screenshot, just in case</span>-->
<!--      </div>-->
<!--      <div>-->
<!--        <div class="acc-info-row">-->
<!--          <mat-chip>Username</mat-chip>-->
<!--          <span class="acc-info">{{ inputName }}</span>-->
<!--        </div>-->

<!--        <div class="acc-info-row">-->
<!--          <mat-chip>Password</mat-chip>-->
<!--          <span class="acc-info">{{ inputPassword }}</span>-->
<!--        </div>-->

<!--        <div style="display: flex; margin-top: 10px">-->
<!--          <div style="flex: 1"></div>-->
<!--          <button mat-fab (click)="confirmSetup()" color="primary">-->
<!--            <mat-icon>check</mat-icon>-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </mat-step>-->
  </mat-stepper>
</main>
