<mat-dialog-content id="wrapper" *ngIf="post != null">
  <main>
    <span id="title">{{ post.title }}</span>
    <div id="post-details-row">
      <app-user-mini [userID]=post.author_id *ngIf="post.author_id != null"
                     style="align-self: flex-start; width: 40px; height: 40px"></app-user-mini>
      <span style="font-size: smaller;white-space: nowrap;">{{ post.time_since_posted }}</span>
      <mat-chip-option selectable="false">{{ post.genre }}</mat-chip-option>
      <div style="flex: 1"></div>
    </div>
    <mat-divider style="width: 100%"></mat-divider>
    <div class="contents">
      <div *ngFor="let content of post.content" class="content">
        <ng-container *ngIf="content.file_share_id != 0; else textMsg">
          <app-file-share [fileShareID]=content.file_share_id class="file-content"></app-file-share>
        </ng-container>
        <ng-template #textMsg>
          <div class="text-wrapper" *ngIf="!isLink(content.content); else link">
            <span class="text-content">{{ content.content }}</span>
          </div>
          <ng-template #link>
            <a [href]="content.content" target="_blank">
              <button mat-stroked-button color="primary">
                <mat-icon>link</mat-icon>
                Link
              </button>
            </a>
          </ng-template>
        </ng-template>
      </div>
    </div>
    <app-reusable-comments-view [postID]="postID" style="align-self: center"></app-reusable-comments-view>
  </main>
</mat-dialog-content>

<mat-dialog-actions *ngIf="post != null" style="">
  <div class="action-bar" *ngIf="perceptionStatus != 3 && auth.selfUserID != post.author_id">
    <button mat-mini-fab color="primary" (click)="likePost()"
            *ngIf="perceptionStatus == 0 || perceptionStatus == 1">
      <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-mini-fab color="warn" (click)="dislikePost()" *ngIf="perceptionStatus == 0 || perceptionStatus == 2">
      <mat-icon>thumb_down</mat-icon>
    </button>
    <span *ngIf="perceptionStatus==1" style="color: green; margin-left: 7px">Shilled</span>
    <span *ngIf="perceptionStatus==2" style="color: red; margin-left: 7px">Cancelled</span>
  </div>

  <button mat-mini-fab *ngIf="auth.selfUserID == post.author_id" (click)="deletePost()">
    <mat-icon>delete</mat-icon>
  </button>

  <div style="flex: 1"></div>

  <button mat-flat-button color="warn" (click)="writeComment()" style="border-radius: 100px">
    <mat-icon>rate_review</mat-icon>
    Comment
  </button>
</mat-dialog-actions>
