main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  word-break: break-word;
  overflow-wrap: break-word;
}

.action-bar{
  display: flex;
  gap: 7px;
  align-items: center;
  font-size: large;
  font-weight: bolder;
}

#title {
  font-size: x-large;
  font-weight: 600;
  line-height: 1.3;
  color: antiquewhite;
}

.text-content {
  color: antiquewhite;
}

#comment-section{
  cursor: pointer;
  color: antiquewhite;
}
