<main *ngIf="post != null; else loadingBar">

  <button mat-mini-fab *ngIf="auth.selfUserID == post.author_id" (click)="deletePost()">
    <mat-icon>delete</mat-icon>
  </button>

  <div class="action-bar" *ngIf="perceptionStatus != 3 && auth.selfUserID != post.author_id">
    <button mat-mini-fab color="primary" (click)="likePost()"
            *ngIf="perceptionStatus == 0 || perceptionStatus == 1">
      <mat-icon>thumb_up</mat-icon>
    </button>

    <button mat-mini-fab color="warn" (click)="dislikePost()" *ngIf="perceptionStatus == 0 || perceptionStatus == 2">
      <mat-icon>thumb_down</mat-icon>
    </button>

    <span *ngIf="perceptionStatus==1" style="color: green">Shilled</span>

    <span *ngIf="perceptionStatus==2" style="color: red">Cancelled</span>
  </div>

  <app-post-perception-bar [popularity]="post.popularity" [rating]="post.rating"
                           style="width: 200px"></app-post-perception-bar>

  <span id="title">{{post.title}}</span>
  <app-user [userID]=post.author_id *ngIf="post.author_id != null"></app-user>

  <p *ngFor="let content of post.content">
    <ng-container *ngIf="content.file_share_id != 0; else textMsg">
      <app-file-share [fileShareID]=content.file_share_id class="file-content"></app-file-share>
    </ng-container>
    <ng-template #textMsg>
      <span class="text-content">{{content.content}}</span>
    </ng-template>
  </p>

  <div style="height: 20px"></div>



  <div id="comment-section" (click)="openCommentSection()" style="position: fixed; bottom: 20px; left: 20px">
    <mat-icon style="vertical-align: middle;margin-right: 6px">comment</mat-icon>
    <span>{{post.number_of_comments}}</span>
  </div>

  <button mat-mini-fab color="warn" style="position: fixed; bottom: 20px; right: 20px" (click)="writeComment()">
    <mat-icon>rate_review</mat-icon>
  </button>
</main>

<ng-template #loadingBar>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
