<main *ngIf="completeLoading; else loadingBar">
  <div id="comments" *ngIf="comments.length > 0; else noComments">
    <div *ngFor="let comment of comments" class="comment-wrapper">
      <app-user-mini [userID]="comment.author_id"></app-user-mini>
      <div class="comment-content">
        <p>{{comment.content}}</p>
        <p style="color: black">{{comment.time_since_posted}}</p>
        <app-post-perception-bar [popularity]="comment.popularity" [rating]="comment.rating"></app-post-perception-bar>
      </div>
    </div>
  </div>

  <ng-template #noComments>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding-top: 10px; gap: 10px">
      <mat-icon>sentiment_dissatisfied</mat-icon>
      <p>No comments yet</p>
    </div>
  </ng-template>
</main>

<ng-template #loadingBar>
  <div class="loading-bar">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</ng-template>
