main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#comments {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.comment-wrapper {
  display: flex;
}

.comment-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  width: 100%;
}
