main{
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 34px);
  z-index: 10;
  backdrop-filter: blur(20px) brightness(90%);
  /*border-bottom-left-radius: 20px;*/
  /*border-bottom-right-radius: 20px;*/
  border-radius: 25px;
  padding: 7px;
  margin: 10px;
  display: flex;
  align-items: center;
  height: 39px;
  /*background-color: rgba(0, 0, 0, 0);*/
  transition-duration: 0.15s;
  /*transition-timing-function: ease;*/
}


/*#top-users{*/
/*  !*transform: translateY(5px);*!*/
/*  display: flex;*/
/*  !*gap: 0px;*!*/
/*  align-items: center;*/
/*  color: white;*/
/*  vertical-align: middle;*/
/*}*/

/*#profile-btn{*/
/*  display: flex;*/
/*  align-items: center;*/
/*  height: 100%;*/
/*  background-color: transparent;*/
/*  border: none;*/
/*  gap: 3px;*/
/*}*/

/*#profile-btn:hover{*/
/*  background-color: rgba(255, 255, 255, 0.09);*/
/*}*/

/*.menuIcon{*/
/*}*/
