main{
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 34px);
  z-index: 10;
  backdrop-filter: blur(20px) brightness(90%);
  /*border-bottom-left-radius: 20px;*/
  /*border-bottom-right-radius: 20px;*/
  border-radius: 25px;
  padding: 7px;
  margin: 10px;
  display: flex;
  align-items: center;
  height: 39px;
  /*background-color: rgba(0, 0, 0, 0);*/
  transition-duration: 0.15s;
  /*transition-timing-function: ease;*/
  background: linear-gradient(
    15deg,
    rgba(238, 119, 82, 0.18),
    rgba(231, 60, 126, 0.15),
    rgba(35, 166, 213, 0.15),
    rgba(35, 213, 171, 0.18)
  );
  background-size: 170%;
  animation: rainbow 10s alternate infinite, appear 0.5s forwards;
}
@keyframes rainbow {
  0% {
    background-position: 0 50%;
    /*height: 150px;*/
  }
  50% {
    background-position: 50% 50%;
    /*height: 100px;*/
  }
  100% {
    background-position: 100% 50%;
    /*height: 150px;*/
  }
}

#logo{
  width: 38px;
  height: 38px;
  backdrop-filter: brightness(150%) saturate(250%);
  border-radius: 50%;
  cursor: pointer;
}


/*#top-users{*/
/*  !*transform: translateY(5px);*!*/
/*  display: flex;*/
/*  !*gap: 0px;*!*/
/*  align-items: center;*/
/*  color: white;*/
/*  vertical-align: middle;*/
/*}*/

/*#profile-btn{*/
/*  display: flex;*/
/*  align-items: center;*/
/*  height: 100%;*/
/*  background-color: transparent;*/
/*  border: none;*/
/*  gap: 3px;*/
/*}*/

/*#profile-btn:hover{*/
/*  background-color: rgba(255, 255, 255, 0.09);*/
/*}*/

/*.menuIcon{*/
/*}*/
