main {
  position: fixed;
  top: 0;
  left: 0;
  //width: calc(100% - 34px);
  width: 100%;
  z-index: 3;
  //backdrop-filter: blur(20px) brightness(90%);
  //backdrop-filter: blur(20px);
  //border-radius: 25px;
  //padding: 7px;
  //margin: 10px;
  //background-color: #2a2a2a;
  height: 39px;
  //background-color: rgba(0, 0, 0, 1);
  transition-duration: 0.15s;
  //background: linear-gradient(
  //    15deg,
  //    rgba(238, 119, 82, 0.3),
  //    rgba(231, 60, 126, 0.3),
  //    rgba(35, 166, 213, 0.3),
  //    rgba(35, 213, 171, 0.3)
  //);
  //background-size: 130%;
  //animation: rainbow 10s alternate infinite, appear 0.3s forwards;
}

#content{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  gap: 7px;
}

#logo {
  width: 45px;
  height: 45px;
  //backdrop-filter: brightness(150%) saturate(250%);
  //border-radius: 100px;
  cursor: pointer;
}

#top-users-bar {
  margin-left: 20px;
  /*transform: translateY(5px);*/
  display: flex;
  /*gap: 0px;*/
  align-items: center;
  color: white;
  vertical-align: middle;
}

#top-users {
  scale: 0.8;
  /*transform: translateY(5px);*/
  margin-left: -15px;
  display: flex;
  gap: 5px;
  align-items: center;
  color: white;
  vertical-align: middle;
}
