.group-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  width: 290px;
  /*max-width: 310px;*/
  /*max-width: 200px;*/
  /*background-color: #4f4f4f;*/
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border-radius: 200px;
  padding: 10px;
  height: 40px;
  backdrop-filter: blur(10px);
  /*border: 2px solid grey;*/
  transition-duration: 0.5s;
}

#info-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

#group-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #9e9e9e;
}

.unread {
  background-color: white;
  color: black;
}

#group-name {
  /*margin-left: 10px;*/
  font-size: 1.05rem;
  /*text-decoration: underline;*/
  font-weight: 500;
  /*color: white;*/
  /*max-width: 190px;*/
  /*text-align: end;*/
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* Limit to 2 lines */
  overflow: hidden;
  line-height: 1.2; /* Adjust this value for spacing between lines */
  margin-bottom: -5px;
}
