.group-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  max-width: 310px;
  background-color: #4f4f4f;
  border-radius: 200px;
  padding: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.44);
  height: 40px;
}

.unread{
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.44);
}

#group-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: wheat;
  margin-right: 5px;
  max-width: 200px;
  text-align: end;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  overflow: hidden;
  line-height: 1.2; /* Adjust this value for spacing between lines */
}
