main {
  height: 100dvh;
  width: 100vw;
  overflow-x: hidden;
  position: fixed;
}

.top-floating-buttons {
  display: flex;
  position: fixed;
  top: 0;
  margin: 20px;
  z-index: 10;
}

#bottom-nav > .btn {
  padding: 0 17px;
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.nav-icon {
  scale: 1.3;
  vertical-align: middle;
}

.active-nav-icon {
  color: white;
}

.inactive-nav-icon {
  color: black;
}

.unreadMsg {
  color: #f55246;
}

#bottom-nav {
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px 9px;
  z-index: 10;
  backdrop-filter: blur(8px);
  /*background-color: rgba(110, 150, 136, 0.7);*/
  border-radius: 20px;
  display: flex;
  background-color: rgba(158, 158, 158, 0.37);
}

@keyframes slideIn {
  0% {
    transform: translate(-50%, 150%); /* Start position */
  }
}


#rainbow-strip {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  z-index: -1;
  animation: rainbow 8s forwards infinite;
  background: linear-gradient(
    45deg,
    rgba(238, 119, 82, 0.15), rgba(231, 60, 126, 0.15), rgba(35, 166, 213, 0.15), rgba(35, 213, 171, 0.15)
  );
  background-size: 200%;
  mask: linear-gradient(white, transparent);
}

@keyframes rainbow {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
