main {
  height: 100dvh;
  width: 100vw;
  overflow-x: hidden;
}

.top-floating-buttons {
  display: flex;
  position: fixed;
  top: 0;
  margin: 20px;
  z-index: 10;
}

#bottom-nav > .btn {
  padding: 0 17px;
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.nav-icon {
  scale: 1.3;
  vertical-align: middle;
}

.active-nav-icon {
  color: white;
}

.inactive-nav-icon {
  color: black;
}

.unreadMsg {
  color: #f55246;
}

#bottom-nav {
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px 9px;
  z-index: 10;
  backdrop-filter: blur(8px);
  /*background-color: rgba(110, 150, 136, 0.7);*/
  border-radius: 20px;
  display: flex;
  background-color: rgba(158, 158, 158, 0.27);
}

@keyframes slideIn {
  0% {
    transform: translate(-50%, 150%); /* Start position */
  }
}

