<div>
  <ng-container *ngIf="router.url != '/home'; else chatBtn">
    <button onclick="history.back()" mat-mini-fab class="top-floating-buttons" style="left: 0">
      <mat-icon>arrow_back_ios_new</mat-icon>
    </button>
  </ng-container>

  <ng-template #chatBtn>
    <button [routerLink]="['/chat']" mat-mini-fab class="top-floating-buttons" style="left: 0">
      <mat-icon>chat</mat-icon>
    </button>
  </ng-template>

  <button mat-mini-fab class="top-floating-buttons" style="right: 0" [matMenuTriggerFor]="menu">
    <mat-icon>menu_open</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/user/' + auth.selfUserID]">
      <mat-icon>account_circle</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voice mail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>
</div>


<!--<app-figure-edit-view [figureID]=2></app-figure-edit-view>-->

<!--<app-user [userID]="1"></app-user>-->
<!--<app-user [userID]="2"></app-user>-->

<!--<app-user-detailed-view [userID]="1"></app-user-detailed-view>-->


<router-outlet></router-outlet>
