<div>
  <button [routerLink]="['/home']" mat-mini-fab class="top-floating-buttons" style="left: 0">
    <mat-icon>first_page</mat-icon>
  </button>
  <button mat-mini-fab class="top-floating-buttons" style="right: 0">
    <mat-icon>menu_open</mat-icon>
  </button>
</div>


<!--<app-figure-edit-view [figureID]=2></app-figure-edit-view>-->

<!--<app-user [userID]="1"></app-user>-->
<!--<app-user [userID]="2"></app-user>-->

<!--<app-user-detailed-view [userID]="1"></app-user-detailed-view>-->


<router-outlet></router-outlet>
