main{
  color: antiquewhite;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 80dvh;
}

.title{
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 10px;
  font-size: 20px;
  margin: 15px 0;
}

.notification-section-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.no-msg-view{
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
}
