<main *ngIf="main.notifications != null && main.getTotalMessageCount() > 0 else noMsgView">
  <div class="notification-section-container" *ngIf="this.main.notifications?.friend_request_user_ids!.length > 0">
    <div class="title">
      <mat-icon>person_add</mat-icon>
      <span>Friend Requests</span>
    </div>
    <app-friend-req-row [id]="id"
                        *ngFor="let id of this.main.notifications?.friend_request_user_ids"></app-friend-req-row>
  </div>

  <div class="notification-section-container" *ngIf="this.main.notifications?.group_invites!.length > 0">
    <div class="title">
      <mat-icon>group_add</mat-icon>
      <span>Group Invites</span>
    </div>
    <app-group-inv-row [invitation]="invitation"
                       *ngFor="let invitation of this.main.notifications?.group_invites"></app-group-inv-row>
  </div>

  <div class="notification-section-container">
    <app-post-comment-row [postComment]="postComment"
                          *ngFor="let postComment of this.main.notifications?.post_comments"></app-post-comment-row>
    <app-post-like-row [postLike]="postLike"
                       *ngFor="let postLike of this.main.notifications?.post_likes"></app-post-like-row>

    <button mat-flat-button color="primary" style="border-radius: 7px" (click)="clearSysMessages()"
            *ngIf="this.main.notifications?.system_messages!.length > 0">Clear Messages
    </button>

    <app-sys-msg-row [sysMsg]="sysMsg"
                     *ngFor="let sysMsg of this.main.notifications?.system_messages"></app-sys-msg-row>
  </div>
</main>

<ng-template #noMsgView>
  <div class="no-msg-view">
    <mat-icon style="vertical-align: middle">task_alt</mat-icon>
    <span>No Notifications</span>
  </div>
</ng-template>
