@if (main.notifications != null && main.getTotalMessageCount() > 0) {
  <main>
<!--    <button mat-flat-button color="accent" style="border-radius: 100px; margin-bottom: 10px" mat-dialog-close>-->
<!--      <mat-icon>close_fullscreen</mat-icon>-->
<!--      close-->
<!--    </button>-->
    <div class="notification-section-container">
      @if (this.main.notifications!.friend_request_user_ids.length > 0) {
        @for (id of this.main.notifications!.friend_request_user_ids; track id) {
          <app-friend-req-row [id]="id"
          ></app-friend-req-row>
        }
      }
      @if (this.main.notifications!.group_invites.length > 0) {
        @for (invitation of this.main.notifications!.group_invites; track invitation) {
          <app-group-inv-row [invitation]="invitation"
          ></app-group-inv-row>
        }
      }
      @if (showCleanAllButton()) {
        <button mat-stroked-button color="primary" style="border-radius: 100px; margin: 10px;" (click)="clear()"
          >
          <mat-icon>delete</mat-icon>
          Clear Messages
        </button>
      }
      @for (sysMsg of this.main.notifications!.system_messages; track sysMsg) {
        <app-sys-msg-row [sysMsg]="sysMsg"
        style="align-items: flex-start;"></app-sys-msg-row>
      }
      @for (postComment of this.main.notifications!.post_comments; track postComment) {
        <app-post-comment-row [postComment]="postComment"
        style="align-items: flex-start;"></app-post-comment-row>
      }
      @for (postLike of this.main.notifications!.post_likes; track postLike) {
        <app-post-like-row [postLike]="postLike"
        style="align-items: flex-start;"></app-post-like-row>
      }
    </div>
  </main>
} @else {
  <div class="no-msg-view">
    <button mat-flat-button color="accent" style="border-radius: 100px; margin-bottom: 20px;" mat-dialog-close>
      <mat-icon>close_fullscreen</mat-icon>
      close
    </button>
    <mat-icon style="vertical-align: middle">task_alt</mat-icon>
    <span>No Notifications</span>
  </div>
}
