main{
  color: antiquewhite;
}

.title{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  margin: 15px 0;
}

.notification-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.friend-req-row{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.group-inv-row{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
