<main *ngIf="main.notifications != null && main.getTotalMessageCount() > 0 else noMsgView">
  <div class="notification-section-container">

    <ng-container *ngIf="this.main.notifications!.friend_request_user_ids.length > 0">
      <app-friend-req-row [id]="id"
                          *ngFor="let id of this.main.notifications?.friend_request_user_ids"></app-friend-req-row>
    </ng-container>


    <ng-container *ngIf="this.main.notifications!.group_invites.length > 0">
      <app-group-inv-row [invitation]="invitation"
                         *ngFor="let invitation of this.main.notifications?.group_invites"></app-group-inv-row>
    </ng-container>

    <button mat-flat-button color="primary" style="border-radius: 100px; margin-top: 10px" (click)="clear()"
            *ngIf="showCleanAllButton()">
      <mat-icon>delete</mat-icon>
      Clear Messages
    </button>

    <app-sys-msg-row [sysMsg]="sysMsg"
                     *ngFor="let sysMsg of this.main.notifications?.system_messages"></app-sys-msg-row>

    <app-post-comment-row [postComment]="postComment"
                          *ngFor="let postComment of this.main.notifications?.post_comments"></app-post-comment-row>
    <app-post-like-row [postLike]="postLike"
                       *ngFor="let postLike of this.main.notifications?.post_likes"></app-post-like-row>
  </div>
</main>

<ng-template #noMsgView>
  <div class="no-msg-view">
    <mat-icon style="vertical-align: middle">task_alt</mat-icon>
    <span>No Notifications</span>
  </div>
</ng-template>
