<main>

  <div id="group-info" *ngIf="groupEssentialData.figure_id != 0">
    <div style="width: 120px;clip-path: circle(60px at center); cursor: pointer" (click)="editFigure()">
      <app-simple-figure [figureID]=groupEssentialData.figure_id #figure></app-simple-figure>
    </div>
  </div>
  <button mat-mini-fab color="primary" (click)="openInviteView()"
          style="display: flex;position: fixed;top: 0; right:0;margin: 20px;z-index: 10;">
    <mat-icon>person_add</mat-icon>
  </button>
  <div id="messages-section" #messagesSection>
    <div id="messages-container">
      <div style="height: 150px"></div>
      <div *ngFor="let message of messages" class="message" [ngClass]="message.sender_id == selfID ? 'self-msg' : ''">
        <div style="width: 40px;clip-path: circle(20px at center)">
          <app-user-mini [userID]=message.sender_id></app-user-mini>
        </div>
        <ng-container *ngIf="message.file_share_id != 0; else textMsg">
          <app-file-share [fileShareID]=message.file_share_id class="file-content"></app-file-share>
        </ng-container>
        <ng-template #textMsg>
          <span class="text-content">{{message.content}}</span>
        </ng-template>
        <div style="flex: 1"></div>
      </div>
      <div style="height: 65px"></div>
    </div>
  </div>

  <div id="action-section">
    <button id="upload-button" mat-mini-fab color="primary" (click)="fileInput.click()" style="margin-left: 20px;">
      <mat-icon>upload</mat-icon>
    </button>
    <input hidden type="file" #fileInput (change)="uploadFile($event)"/>

    <button mat-mini-fab (click)="openTextEditor()" color="warn" style="margin-right: 20px; margin-left: 5px">
      <mat-icon>edit_note</mat-icon>
    </button>
  </div>

</main>
