main {
  animation: lightsOff 0.6s ease-in-out forwards;
}

@keyframes lightsOff {
  0% {
  }
  100% {
    /*background-color: rgba(0, 0, 0, 0.68);*/
    background-color: rgb(0, 0, 0);
  }
}


#group-info {
  position: fixed;
  left: 50%;
  top: 21px;

  transform: translate(-50%, 0);
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  z-index: 100;
  max-width: calc(100% - 190px);
  border-radius: 100px;
  cursor: pointer;
  padding: 7px;
  /*background-color: rgba(225, 82, 65, 0.18);*/
}

#group-info::-webkit-scrollbar {
  display: none;
}

#group-name {
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* Limit to 2 lines */
  overflow: hidden;
  line-height: 1.2; /* Adjust this value for spacing between lines */
  padding-right: 6px;
}

#messages-section {
  height: 100dvh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

#messages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  display: flex;
  align-items: center;
  width: calc(100% - 20px);
  margin: 10px;
  color: white;
  gap: 10px;
}

.self-msg {
  /*animation: slideInSelf 0.6s ease-in-out forwards; !* Apply the animation *!*/
  animation: appear 1s ease forwards;
  flex-direction: row-reverse;
  margin-right: 10px;
}

.self-msg > .text-content {
  background-color: #4488f5;
}

.other-msg {
  /*animation: slideIn 0.6s ease-in-out forwards; !* Apply the animation *!*/
  animation: appear 1s ease forwards;
}

.text-content {
  max-width: 60%;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  text-align: justify-all;
  padding: 7px 12px;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  word-break: break-word;
  backdrop-filter: blur(10px);
}

.file-content {
  max-width: min(60%, 300px);
  font-weight: lighter;
}

#action-section {
  position: fixed;
  scale: 1;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.bottom-btn {
  margin-bottom: 20px;
  scale: 1.2
}

#uploading-file-indicator {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: white;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%); /* Start position */
  }
  100% {
    transform: translateX(0); /* End position */
  }
}

@keyframes slideInSelf {
  0% {
    transform: translateX(100%); /* Start position */
  }
  100% {
    transform: translateX(0); /* End position */
  }
}
