<main *ngIf="essentialUserData.figure_id != 0; else loadingBar">
  <div id="figure" [ngClass]="{'clipped':showClippedFigure}" (click)="showClippedFigure = !showClippedFigure">
    <app-simple-figure [figureID]="essentialUserData.figure_id"></app-simple-figure>
  </div>

  <div id="name">
    <span>{{essentialUserData.name}}</span>
  </div>

  <div id="stats">
    <span style="color:#c2175b">#{{userID}}</span>
    <span style="font-size: small; margin-left: 1em; color: wheat;">Degeneracy: {{xp}}</span>
  </div>

  <div id="description">
    <span>{{userDescription}}</span>
  </div>

  <span style="width: 90%"><mat-divider></mat-divider></span>

  <div style="display: flex; gap: 20px; justify-content: center" *ngIf="userID == auth.selfUserID">
    <button mat-stroked-button (click)="userSetUp()" *ngIf="auth.isVisitor"
            style="border-radius: 100px" color="warn">
      <mat-icon>manage_accounts</mat-icon>
      <span>Signup</span>
    </button>

    <button mat-stroked-button [routerLink]="['/user-profile-edit']" *ngIf="!auth.isVisitor"
            style="border-radius: 100px" color="warn">
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>

    <button mat-stroked-button [routerLink]="['/login']" (click)="logout()" color="primary"
            style="border-radius: 100px">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </div>

  <div id="actions" *ngIf="auth.selfUserID != userID">
    <button mat-stroked-button color="primary" style="border-radius: 100px"
            *ngIf="!isFriend && !friendRequestSent"
            (click)="sendFriendRequest()">
      <mat-icon>person_add</mat-icon>
      Add
    </button>

    <button mat-stroked-button color="warn" style="border-radius: 100px"
            *ngIf="friendRequestSent"
            disabled>
      <mat-icon>hourglass_top</mat-icon>
      Requested
    </button>

    <button mat-stroked-button color="warn" style="border-radius: 100px"
            *ngIf="isFriend"
            (click)="removeFriend()">
      <mat-icon>person_remove</mat-icon>
      Remove
    </button>

    <button mat-stroked-button color="accent" style="border-radius: 100px"
            (click)="sendDM()">
      <mat-icon>mail</mat-icon>
      DM
    </button>
  </div>

  <ng-container *ngIf="postsLoaded;">
    <ng-container *ngIf="postIDs.length == 0">
      <div style="flex: 1"></div>
      <mat-icon color="primary">close</mat-icon>
      <p style="color: white">This user hasn't made any post yet</p>
      <div style="flex: 1"></div>
    </ng-container>

    <div id="posts-section">
      <app-post class="post" [postID]="postID" *ngFor="let postID of postIDs"></app-post>
    </div>
  </ng-container>

</main>

<app-back-btn *ngIf="userID != auth.selfUserID"></app-back-btn>
<ng-template #loadingBar>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
