<main *ngIf="essentialUserData.figure_id != 0; else loadingBar">
  <div *ngIf="userID == auth.selfUserID && !auth.isVisitor">
    <button mat-fab [routerLink]="['/user-profile-edit']">
      <mat-icon>edit</mat-icon>
    </button>
  </div>

  <div id="figure" [ngClass]="{'clipped':showClippedFigure}" (click)="showClippedFigure = !showClippedFigure">
    <app-simple-figure [figureID]="essentialUserData.figure_id"></app-simple-figure>
  </div>

  <div id="name">
    <span>{{essentialUserData.name}}</span>
  </div>

  <div id="description">
    <span>{{userDescription}}</span>
  </div>

  <div id="actions" *ngIf="auth.selfUserID != userID">
    <button mat-mini-fab color="primary"
            *ngIf="!isFriend && !friendRequestSent"
            (click)="sendFriendRequest()">
      <mat-icon>person_add</mat-icon>
    </button>

    <button mat-mini-fab color="warn"
            *ngIf="friendRequestSent"
            disabled>
      <mat-icon>hourglass_top</mat-icon>
    </button>

    <button mat-mini-fab color="warn"
            *ngIf="isFriend"
            (click)="removeFriend()">
      <mat-icon>person_remove</mat-icon>
    </button>
  </div>

  <div id="posts-section">
    <app-post class="post" [postID]="postID" *ngFor="let postID of postIDs"></app-post>
  </div>

  <ng-container *ngIf="postIDs.length == 0">
    <mat-icon style="color: antiquewhite">sentiment_very_dissatisfied</mat-icon>
    <p style="color: antiquewhite">This user hasn't made any post yet</p>
  </ng-container>
</main>


<ng-template #loadingBar>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
