<main>
  <div id="header">
    <h2>#AskTidder</h2>
  </div>

  <div id="promptInput">
    <img [src]="url" alt="image" *ngIf="url.length>0" id="imagePreview">

    <button id="upload-button" mat-mini-fab color="primary" (click)="fileInput.click()">
      <mat-icon>add_photo_alternate</mat-icon>
    </button>
    <input hidden type="file" id="img" name="img" accept="image/*" #fileInput (change)="selectImage($event)"/>

    <mat-form-field style="flex: 1">
      <mat-label>Question</mat-label>
      <textarea matInput [cdkTextareaAutosize]=true #input></textarea>
    </mat-form-field>
  </div>

  <div style="display: flex">
    <div style="flex: 1"></div>
    <button mat-fab (click)="submitVisionQuestion(input)" color="primary">
      <mat-icon>done</mat-icon>
    </button>
  </div>
</main>
