.wrapper{
  display: flex;
  align-items: center;
  background-color: #525252;
  padding: 6px;
  border-radius: 100px;
  cursor: pointer;
  max-width: 260px;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.44);
  min-width: 40px;
  min-height: 40px;
}

#name{
  color: white;
  font-size: 20px;
  margin-left: 7px;
  margin-right: 7px;
  font-weight: lighter;
}
