main{
  display: inline-flex;
  align-items: center;
  background-color: #525252;
  padding: 6px;
  border-radius: 100px;
  cursor: pointer;
}

#name{
  color: white;
  font-size: 23px;
  margin-left: 7px;
  margin-right: 7px;
  font-weight: lighter;
}
