<main>
  <mat-chip-option selectable="false" style="margin-bottom: 10px">Invite your friends</mat-chip-option>
  @if (!loading) {
    @for (friendID of friendIDs; track friendID) {
      <div class="row">
        <app-user [userID]="friendID"></app-user>
        <div style="flex: 1"></div>
        <div>
          @if (!isInvited(friendID) && !isMember(friendID);) {
            <button mat-mini-fab color="primary"
              (click)="invite(friendID)">
              <mat-icon>add</mat-icon>
            </button>
          }
          @if (isInvited(friendID);) {
            <button mat-mini-fab disabled>
              <mat-icon>pending</mat-icon>
            </button>
          }
          @if (isMember(friendID);) {
            <button mat-mini-fab disabled>
              <mat-icon>done</mat-icon>
            </button>
          }
        </div>
      </div>
    }
    @if (friendIDs.length == 0) {
      <div>
        <mat-icon style="vertical-align: middle;">sentiment_dissatisfied</mat-icon>
        <span>  Sorry you got no friend</span>
      </div>
    }
  } @else {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
</main>

