<mat-dialog-content style="background-color:  #363636;">
  <main>
    <button mat-flat-button color="accent" style="border-radius: 100px; margin-bottom: 20px; align-self: flex-start"
      mat-dialog-close>
      <mat-icon>close_fullscreen</mat-icon>
      close
    </button>
    @if (!loading && response == '') {
      <div id="input">
        @if (imageToUpload == null) {
          <div class="classicTextBox" style="margin: -5px -8px 10px;border-radius: 5px">
            <span class="classicTitle">Ask {{ siteName }}</span>
            <div style="display: flex; justify-content: space-between">
              <span>Ask me anything, and I'll try my best to answer</span>
            </div>
          </div>
        }
        <div id="prompts">
          @if (imageToUpload != null) {
            <img [src]="url" alt="image" class="imagePreview">
          } @else {
            <button id="upload-button" mat-button color="warn" (click)="fileInput.click()">
              <mat-icon>add_photo_alternate</mat-icon>
              Upload Image
            </button>
          }
          <input hidden type="file" id="img" name="img" accept="image/*" #fileInput (change)="selectImage($event)"/>
          <mat-form-field appearance="outline" style="align-self: center">
            <mat-label>Question</mat-label>
            <textarea id="promptInputField" matInput [cdkTextareaAutosize]=true #input></textarea>
          </mat-form-field>
        </div>
        @if (imageToUpload == null) {
          <div class="example-questions">
            @for (p of examplePrompts; track p) {
              <div (click)="applyPrompt(p)" class="example-question">
                <span>{{ p }}</span>
              </div>
            }
          </div>
        }
        @if (imageToUpload != null) {
          <div class="example-questions" style="margin: 0 0 15px">
            @for (p of exampleVisionPrompts; track p) {
              <div (click)="applyPrompt(p)" class="example-question">
                <span>{{ p }}</span>
              </div>
            }
          </div>
        }
        <button mat-raised-button (click)="submit(input)" color="warn"
          style="align-self: flex-end; border-radius: 100px">
          <mat-icon>check</mat-icon>
          Submit
        </button>
      </div>
    }


    @if (loading) {
      <div id="loading">
        <app-logo></app-logo>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    }

    @if (response != '') {
      @if (imageToUpload != null;) {
        <img [src]="url" alt="image" class="imagePreview">
      }
      <div id="response" [@inOutAnimation]="">
        <span>{{ response }}</span>
      </div>
      <button mat-fab (click)="reset()" color="primary" style="margin: 20px">
        <mat-icon>restart_alt</mat-icon>
      </button>
    }
    <!--  <app-rainbow-strip [bottom]=true></app-rainbow-strip>-->
  </main>
</mat-dialog-content>
