<main *ngIf="essentialUserData.figure_id != 0">
  <app-back-btn></app-back-btn>
  <div id="main-frame">
    <div id="figure" *ngIf="essentialUserData.figure_id != 0">
      <app-simple-figure [figureID]="essentialUserData.figure_id" #figure></app-simple-figure>
    </div>

    <button mat-mini-fab (click)="editFigure()" id="figure-edit-btn" color="primary">
      <mat-icon>edit</mat-icon>
    </button>

    <!--name-->
    <mat-form-field class="input" appearance="outline">
      <mat-label>
        <mat-icon style="vertical-align: middle;">person_book</mat-icon>
        username
      </mat-label>
      <input matInput type="text" [ngModel]="inputName" (input)="changeInputName($event)">
      <button *ngIf="inputName" matSuffix mat-icon-button aria-label="Clear" (click)="inputName=''">
        <mat-icon color="accent">close</mat-icon>
      </button>
    </mat-form-field>

    <button mat-mini-fab class="confirm-btn"
            color="primary"
            *ngIf="inputName  != essentialUserData.name"
            (click)="saveName()">
      <mat-icon>check</mat-icon>
    </button>

    <!--description-->
    <mat-form-field class="input" appearance="outline">
      <mat-label>
        <mat-icon style="vertical-align: middle;">view_headline</mat-icon>
        description
      </mat-label>
      <textarea matInput placeholder="Ex. I'm a dip..." [ngModel]="inputDescription"
                [cdkTextareaAutosize]="true"
                (input)="changeInputDescription($event)"></textarea>
    </mat-form-field>

    <button mat-mini-fab color="primary" class="confirm-btn"
            *ngIf="userDescription != inputDescription"
            (click)="saveDescription()">
      <mat-icon>check</mat-icon>
    </button>

    <!--email-->
<!--    <mat-form-field class="input" appearance="outline">-->
<!--      <mat-label>-->
<!--        <mat-icon style="vertical-align: middle;">email</mat-icon>-->
<!--        email-->
<!--      </mat-label>-->
<!--      <input matInput type="email" [ngModel]="inputEmail" (input)="changeInputEmail($event)">-->
<!--      <button *ngIf="inputEmail" matSuffix mat-icon-button aria-label="Clear" (click)="inputEmail=''">-->
<!--        <mat-icon color="accent">close</mat-icon>-->
<!--      </button>-->
<!--    </mat-form-field>-->

    <button mat-mini-fab class="confirm-btn"
            color="primary"
            *ngIf="inputEmail  != userEmail"
            (click)="saveEmail()">
      <mat-icon>check</mat-icon>
    </button>

    <!--password-->
    <mat-form-field class="input" appearance="outline">
      <mat-label>
        <mat-icon style="vertical-align: middle;">vpn_key</mat-icon>
        password
      </mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" [ngModel]="inputPassword"
             (input)="changeInputPassword($event)">
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword">
        <mat-icon color="accent">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-mini-fab class="confirm-btn"
            color="primary"
            *ngIf="inputPassword  != userPassword"
            (click)="savePassword()">
      <mat-icon>check</mat-icon>
    </button>

    <div style="height: 65px"></div>
  </div>
</main>
