main {
  height: 100dvh;
  overflow-y: auto; /* Enable vertical scrolling */
}

#main-frame {
  display: flex;
  flex-direction: column;
  padding: 40px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#figure {
  width: 150px;
}

#figure-edit-btn {
  transform: translate(50px, -55px);
}

#name {
  color: white;
  font-size: 23px;
  font-weight: lighter;
}

.input {
  width: 300px
}

.confirm-btn {
  margin-bottom: 20px
}

@media screen and (max-height: 600px) {
  main {
    align-items: flex-start; /* Align to the top */
  }
}
