@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

$font-normal: "Exo"; //"Exo"
$font-bold: "Carter One"; //"Protest Guerrilla"

$base-typography: mat.define-typography-config(
  $font-family: $font-normal
);

$bold-typography: mat.define-typography-config(
  $font-family: $font-bold,
);

@include mat.all-component-typographies($base-typography);
@include mat.card-typography($bold-typography);
@include mat.button-typography($bold-typography);

@mixin no-text-overflow {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

html {
  background-color: #191919;
  //background-color: black;
}

body {
  margin: 0;
  overflow-x: hidden;
  /*background-color: #212121;*/
  /*background-color: #060a0a;*/
}


@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*@keyframes rainbow {*/
/*  0% {*/
/*    background-position: 0 50%;*/
/*  }*/
/*  50% {*/
/*    background-position: 50% 50%;*/
/*  }*/
/*  100% {*/
/*    background-position: 100% 50%;*/
/*  }*/
/*}*/

@keyframes rainbow {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.classicTextBox {
  @include no-text-overflow;
  color: white;
  padding: 20px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.32);
  /*background-color: rgba(255, 255, 255, 0.05);*/
  backdrop-filter: blur(20px);
}
.classicTitle {
  display: flex;
  justify-content: flex-start;
  font-family: $font-bold, Arial;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 12px;
  line-height: 1.4;
  /*font-size: x-large;*/
  color: #e15241;
  /*font-weight: 470;*/
  font-size: xx-large;
  font-weight: bolder;
}

.post-back-drop {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(7px);
}

.main-btn {
  scale: 1.2;
  bottom: 0;
  margin: 25px;
  z-index: 2;
}

.mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 35px;
}

.mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 20px !important; /* Change 28px to your desired radius */
}

.no-text-overflow {
  @include no-text-overflow;
}
