html, body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #212121;
  /*background-color: #0b1416;*/
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.classicTextBox{
  color: white;
  padding: 20px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.22);
}

.classicTitle{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: x-large;
  color: #e15241;
  font-weight: 470;
}

.post-back-drop{
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(7px);
}

.trans-btn-dark {
  -webkit-backdrop-filter: blur(10px) brightness(0.85);
  backdrop-filter: blur(10px) brightness(0.85);
/*background-color: rgba(225,82,65,0.13)*/
/*background-color: rgba(245,82,70,0.13)*/
}

.trans-btn-bright {
  -webkit-backdrop-filter: blur(10px) brightness(1.1);
  backdrop-filter: blur(10px) brightness(1.1);
}


