html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #303030;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.blur-back-drop {
  backdrop-filter: blur(5px) brightness(0.7) contrast(0.8);
}

/*mat-progress-bar {*/
/*  background: #E4E8EB;*/
/*}*/
