@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
$kids-typography: mat.define-typography-config(
  // Specify "Comic Sans" as the default font family for all levels.
  $font-family: 'Rubik',
);

// Now we have sweet buttons with Comic Sans.
@include mat.all-component-typographies($kids-typography);


html, body {
  /*font-family: Roboto, "Helvetica Neue", sans-serif;*/
  //font-family: 'Pixelify Sans', sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  /*background-color: #212121;*/
  /*background-color: #060a0a;*/
  background-color: #191919;
  transition-duration: 0.6s;
}



@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*@keyframes rainbow {*/
/*  0% {*/
/*    background-position: 0 50%;*/
/*  }*/
/*  50% {*/
/*    background-position: 50% 50%;*/
/*  }*/
/*  100% {*/
/*    background-position: 100% 50%;*/
/*  }*/
/*}*/

@keyframes rainbow {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.classicTextBox {
  color: white;
  padding: 20px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.32);
  /*background-color: rgba(255, 255, 255, 0.05);*/
  backdrop-filter: blur(20px);
}

.classicTitle {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 12px;
  line-height: 1.4;
  /*font-size: x-large;*/
  color: #e15241;
  /*font-weight: 470;*/
  font-size: xx-large;
  font-weight: bolder;
}

.post-back-drop {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(7px);
}

.main-btn {
  scale: 1.2;
  bottom: 0;
  margin: 25px;
  z-index: 2;
}

.mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 35px;
}
