/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #303030;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}


.blur-back-drop {
  backdrop-filter: blur(8px) brightness(0.7) contrast(0.8);
}

/*mat-progress-bar {*/
/*  background: #E4E8EB;*/
/*}*/
