<main>
  @if (auth.isVisitor) {
    <div style="display: flex; justify-content: center">
      <div class="classicTextBox" style="margin: 5px 20px 12px; animation: appear 1s forwards; flex-grow: 1; max-width: 650px">
        <span class="classicTitle">Hey there</span>
        <div style="display: flex; justify-content: space-between; flex-wrap: wrap; gap: 10px">
          <p>One last step, login or signup to make your account permanent</p>
          <div style="flex: 1"></div>
          <div style="display:flex;gap:10px">
            <button mat-flat-button color="primary" (click)="userSetUp()"
                    style="border-radius: 200px;flex-shrink: 0">
              <mat-icon>account_circle</mat-icon>
              Sign Up
            </button>
            <button mat-flat-button color="warn" [routerLink]="['/login']"
                    style="border-radius: 200px;flex-shrink: 0">
              <mat-icon>login</mat-icon>
              Login
            </button>
          </div>
        </div>
      </div>
    </div>
  }
  <app-post-section-view></app-post-section-view>
  <div style="height: 80px"></div>
</main>
