main {
}

.nav-icon {
  transform: translateY(1px);
}

.back-ground-red {
  background-color: #c72a68;
}

.unreadMsg {
  color: #f55246;
  /*color: #ffd500;*/
  /*color: #58ffd4;*/
}

.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

#new-post-btn {
  position: fixed;
  z-index: 3;
  bottom: 20px;
  left: 20px;
}
